@tailwind base;
@tailwind components;
@tailwind utilities;

.act-btn {
  padding-inline: 12px;
  padding-block: 6px;
  border-radius: 5px;
  color: white;
  @apply active:scale-95;
}

a {
  @apply active:scale-95;
}

